<a href="https://colab.research.google.com/github/ponchakridsrisuwan/Scraping/blob/main/Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install beautifulsoup4 requests

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [ ]:
import numpy
import requests
import bs4
from IPython.display import Image
import re

In [ ]:
import requests
from bs4 import BeautifulSoup

url = "https://www.set.or.th/set/historicaltrading.do?symbol=QLT&page=0&language=th&country=TH&type=trading&fbclid=IwAR0HaNX_TUospHapCEO_P_9COKT-vXd3Swkd-4WdtZOD9a9i_mdMZE7mI4w"
web_data = requests.get(url)

soup = BeautifulSoup(web_data.text, 'html.parser')
find_word = soup.find('table',{'class':'table table-hover table-info'}).text
find_word = find_word.strip("/n")

In [ ]:
My_name = []

In [ ]:
My_datas = []

In [ ]:
My_name

[['',
  '18/02/2565',
  '7.25',
  '8.00',
  '6.20',
  '6.20',
  ' 0.00',
  ' 0.00',
  '17,960,861',
  '132,874.60',
  ''],
 '18/02/2565']

In [ ]:

x = re.split("\n", name12[0])
print(x)

['', '18/02/2565', '7.25', '8.00', '6.20', '6.20', ' 0.00', ' 0.00', '17,960,861', '132,874.60', '']

In [ ]:
movie.find('div',{'class':'mlb-date'}).text

'13 Jan 2022'

In [ ]:
data = requests.get("https://chobrod.com/car-sale")
soup = bs4.BeautifulSoup(data.text)

for m in soup.find_all('div',{'class':'itemlist '})[0:]:
  print(m.find('h2',{'class':'title'}).text)
  print(m.find('p',{'class':'price'}).text)
  print(m.find('div',{'class':'txt'}).text)
  print(m.find('a')['href'])

‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏°‡∏∑‡∏≠‡∏™‡∏≠‡∏á TOYOTA COROLLA ALTIS 1.8 E | ‡∏õ‡∏µ : 2014
‡∏ø429,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-toyota-corolla-altis-1-8-e-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏°‡∏∑‡∏≠‡∏™‡∏≠‡∏á-‡∏õ‡∏µ-2014-aid22668812
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏°‡∏∑‡∏≠‡∏™‡∏≠‡∏á TOYOTA MAJESTY 2.8 Premium | ‡∏õ‡∏µ : 2021
‡∏ø2,099,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-toyota-majesty-premium-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏°‡∏∑‡∏≠‡∏™‡∏≠‡∏á-2-8-‡∏õ‡∏µ-2021-aid22668822
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏°‡∏∑‡∏≠‡∏™‡∏≠‡∏á TOYOTA CAMRY 2.0 G | ‡∏õ‡∏µ : 2008
‡∏ø299,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-toyota-camry-2-0-g-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ‡∏°‡∏∑‡∏≠‡∏™‡∏≠‡∏á-‡∏õ‡∏µ-2008-aid22668832
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ TOYOTA VIOS 1.5 ES ‡∏õ‡∏µ 2012
‡∏ø269,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-toyota-vios-1-5-es-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ-‡∏õ‡∏µ-2012-aid22668732
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ Mercedes-Benz GLA 250 2.0 AMG DYNAMIC FACELIFT  ‡∏õ‡∏µ 2019
‡∏ø1,699,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-mercedes-benz-gla250-2-0-amg-dynamic-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ-gla-250-facelift-‡∏õ‡∏µ-2019-aid22668742
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ MINI COOPER S 2.0 COUNTRYMAN RHD (F60) ‡∏õ‡∏µ 2020
‡∏ø1,599,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-mini-cooper-2-0-s-countryman-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ-s-2-0-countryman-rhd-f60-‡∏õ‡∏µ-2020-aid22668772
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ HONDA MOBILIO 1.5 RS TOP  ‡∏õ‡∏µ 2016
‡∏ø449,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-honda-mobilio-1-5-rs-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ-top-‡∏õ‡∏µ-2016-aid22668782
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ MERCEDES BENZ C350e Exclusive Plug-in Hybrid (‡πÇ‡∏â‡∏° W205 ) ‡∏õ‡∏µ 2016
‡∏ø1,190,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-mercedes-benz-c350-2-0-e-exclusive-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ-e-exclusive-plug-in-hybrid-‡πÇ‡∏â‡∏°-w205-‡∏õ‡∏µ-2016-aid22668762
2011 Nissan TEANA 2.5 XV ‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á 4 ‡∏õ‡∏£‡∏∞‡∏ï‡∏π
‡∏ø299,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-nissan-teana-2-5-xv-bangkok/2011-‡∏£‡∏ñ‡πÄ‡∏Å‡πã‡∏á-4-‡∏õ‡∏£‡∏∞‡∏ï‡∏π-aid22498052
2013 Chevrolet Trailblazer 2.8 LT SUV
‡∏ø449,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-chevrolet-trailblazer-2-8-lt-bangkok/2013-suv-aid22533052
2020 Honda ACCORD 1.5 TURBO EL ‡∏™‡∏†‡∏≤‡∏û‡∏õ‡πâ‡∏≤‡∏¢‡πÅ‡∏î‡∏á ‡πÑ‡∏°‡∏•‡πå‡∏ô‡πâ‡∏≠‡∏¢ 30,000 Km.‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô
‡∏ø1,099,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-honda-accord-1-5-turbo-el-bangkok/2020-‡∏™‡∏†‡∏≤‡∏û‡∏õ‡πâ‡∏≤‡∏¢‡πÅ‡∏î‡∏á-‡πÑ‡∏°‡∏•‡πå‡∏ô‡πâ‡∏≠‡∏¢-30-000-km-‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô-aid22535952
2018 Isuzu MU-X 1.9 CD SUV üöô‡∏£‡∏ñ‡πÑ‡∏°‡∏•‡πå‡∏ô‡πâ‡∏≠‡∏¢‚Äã 3x,xxx Km. üöô ‡πÄ‡∏£‡∏≤‡∏°‡∏µ‡∏£‡∏ñ‡∏£‡∏∏‡πà‡∏ô‡∏ô‡∏µ‡πâ‡πÉ‡∏´‡πâ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‚Äã 3 ‡∏Ñ‡∏±‡∏ô‚Äã üöô
‡∏ø729,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-isuzu-mu-x-1-9-cd-bangkok/2018-suv-‡∏£‡∏ñ‡πÑ‡∏°‡∏•‡πå‡∏ô‡πâ‡∏≠‡∏¢-3x-xxx-km-‡πÄ‡∏£‡∏≤‡∏°‡∏µ‡∏£‡∏ñ‡∏£‡∏∏‡πà‡∏ô‡∏ô‡∏µ‡πâ‡πÉ‡∏´‡πâ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å-3-‡∏Ñ‡∏±‡∏ô-aid22565592
2014 Isuzu MU-X 3.0 The ICONIC SUV üöò‡πÄ‡∏£‡∏≤‡∏°‡∏µ‡∏£‡∏∏‡πà‡∏ô‡∏ô‡∏µ‡πâ‡πÉ‡∏´‡πâ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‚Äã3 ‡∏Ñ‡∏±‡∏ôüöò
‡∏ø669,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-isuzu-mu-x-3-0-the-iconic-bangkok/2014-suv-‡πÄ‡∏£‡∏≤‡∏°‡∏µ‡∏£‡∏∏‡πà‡∏ô‡∏ô‡∏µ‡πâ‡πÉ‡∏´‡πâ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å-3-‡∏Ñ‡∏±‡∏ô-aid22585192
üî•‡πÑ‡∏°‡∏•‡πå‡∏ô‡πâ‡∏≠‡∏¢ 33,xxx 2018 Honda CR-V 2.4 EL 4WD SUV
‡∏ø1,039,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-honda-cr-v-2-4-el-4wd-bangkok/‡πÑ‡∏°‡∏•‡πå‡∏ô‡πâ‡∏≠‡∏¢-33-xxx-2018-suv-aid22597632
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ Toyota Sport Rider 3.0 G LIMITED SUV ‡∏õ‡∏µ 2002
‡∏ø199,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-toyota-sport-rider-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ-3-0-g-limited-suv-‡∏õ‡∏µ-2002-aid22598732
‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ Honda CR-V 2.0 E 4WD SUV ‡∏õ‡∏µ2004
‡∏ø219,000
‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£
/car-honda-cr-v-2-0-e-4wd-bangkok/‡∏Ç‡∏≤‡∏¢‡∏£‡∏ñ-suv-‡∏õ‡∏µ-2004-aid22598752

In [ ]:
for m in soup.find('div',{'class':'list-product'}):
  # print(m)
  print(m.find('h2',{'class':'title'}).text)
  # print(m.find('p',{'class':'price'}).text)
  # print(m.find('div',{'class':'txt'})['href'])

TypeError: ignored

In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 149 kB 5.1 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.2

In [ ]:
date = []
gold = []
kitco = []
currency = []
spot_gold = []

In [ ]:
mx = []
vb = []
reg = []

In [ ]:
data = requests.get("https://www.set.or.th/set/historicaltrading.do?symbol=QLT&page=0&language=th&country=TH&type=trading&fbclid=IwAR0HaNX_TUospHapCEO_P_9COKT-vXd3Swkd-4WdtZOD9a9i_mdMZE7mI4w")
soup = bs4.BeautifulSoup(data.text)
for z = soup.find_all('table',{'class':'table table-hover table-info'}):
  name = z.find('tr',{'align':'right'}).text
  x = re.split("\n", name)
  reg.append(x)

print(reg)

[['', '18/02/2565', '7.25', '8.00', '6.20', '6.20', ' 0.00', ' 0.00', '17,960,861', '132,874.60', '']]

In [ ]:
data = requests.get("http://www.taradthong.com/content/%E0%B8%A3%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%97%E0%B8%AD%E0%B8%87%E0%B8%84%E0%B8%B3%E0%B8%A2%E0%B9%89%E0%B8%AD%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87")
soup = bs4.BeautifulSoup(data.text)

for q in soup.find('table'):
  datas = q.find('tr').text
  x = re.split("\n", datas)
  date.append(x[1])
  gold.append(x[2])
  kitco.append(x[3])
  currency.append(x[4])
  spot_gold.append(x[5])

TypeError: ignored

In [ ]:
data = requests.get("http://www.taradthong.com/content/%E0%B8%A3%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%97%E0%B8%AD%E0%B8%87%E0%B8%84%E0%B8%B3%E0%B8%A2%E0%B9%89%E0%B8%AD%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87")
soup = bs4.BeautifulSoup(data.text)

for q in soup.find('table',{'class':'table table-hover table-info'}):
  datas = q.find('tr',{'align':'right'}).text
  x = re.split("\n", datas)
  date.append(x[1])
  gold.append(x[2])
  kitco.append(x[3])
  currency.append(x[4])
  spot_gold.append(x[5])

TypeError: ignored

In [ ]:
import xlsxwriter
import pandas as pd

name = []
price = []
address = []
mylink = []


for m in soup.find_all('div',{'class':'itemlist '})[0:]:
  name.append(m.find('h2',{'class':'title'}).text)
  price.append(m.find('p',{'class':'price'}).text)
  address.append(m.find('div',{'class':'txt'}).text)
  mylink.append(m.find('a')['href'])

print(name)

# dataframe = pd.DataFrame({'‡∏ä‡∏∑‡πà‡∏≠' : name ,'‡∏£‡∏≤‡∏Ñ‡∏≤' : price , '‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà' : address, '‡∏•‡∏¥‡∏á‡∏Ñ‡πå' : mylink})
# writer = pd.ExcelWriter('worapon.xlsx', engine='xlsxwriter')
# dataframe.to_excel(writer, sheet_name='‡∏´‡∏ô‡πâ‡∏≤‡∏ó‡∏µ‡πà1')
# writer.save()

[]

In [ ]:
import re

In [ ]:
s="   Hello   Python  "
print(s.strip())

Hello   Python

In [ ]:
Country = []
Cases in the last 7 days = []
Cases in the preceding 7 days = []
Weekly Case = []
Cases in the last  = []
Deaths in the last  = []
Deaths in the preceding  = []
Weekly Death = []
Population = []

In [ ]:
covid1 = []
covid2 = []
covid3 = []
covid4 = []
covid5 = []
covid6 = []
covid7 = []
covid8 = []
covid9 = []
covid10 = []
covid11 = []

In [ ]:
My_url = ("https://www.worldometers.info/coronavirus/weekly-trends/#weekly_table")

In [ ]:

data = requests.get("https://www.worldometers.info/coronavirus/weekly-trends/#weekly_table")
soup = bs4.BeautifulSoup(data.text)
for q in soup.find_all('table',{'class':'table table-bordered table-hover main_table_countries dataTable no-footer'}):
    datas = q.find('tr',{'class':'odd'}).text
    print(datas)
    # x = re.split("\n", datas)
    # covid1.append(x[1])
    # covid2.append(x[2])
    # covid3.append(x[3])
    # covid4.append(x[4])
    # covid5.append(x[5])
    # covid6.append(x[6])
    # covid7.append(x[7])
    # covid8.append(x[8])
    # covid9.append(x[9])
    # covid10.append(x[10])
    # covid11.append(x[11])
    print(datas)

# print(date)

In [ ]:
luea = []
dds = []
gn=[]
ff =[]
gfgf = []

In [ ]:
data = requests.get("https://www.worldometers.info/coronavirus/weekly-trends/#weekly_table")
soup = bs4.BeautifulSoup(data.text)
z = soup.find('table',{'id':'main_table_countries_today'})
name = z.find('tbody').text
x = re.split("\n", name)

gfgf.append(x[147::18])

print(gfgf)

[['China', '777', '590', '+32%', '0.5', '0', '0', '0%', '0', '+187', '+0.1', '0', '0', '1,448,417,774', 'Asia', '', '', '2', 'Thailand'], ['China', 'Thailand', 'Japan', 'Singapore', 'Hong Kong', 'S. Korea', 'Taiwan', 'Australia', 'Malaysia', 'USA', 'Germany', 'France', 'Vietnam', 'UAE', 'Canada', 'Italy', 'UK', 'Russia', 'Cambodia', 'Finland', 'India', 'Nepal', 'Philippines', 'Sri Lanka', 'Sweden', 'Spain', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei ', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Caribbean Netherlands', 'Cayman Islands', 'CAR', 'Chad', 'Channel Islands', 'Chile', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba', 'Cura√ßao', 'Cyprus', 'Czechia', 'DRC', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Faeroe Islands', 'Fiji', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'North Macedonia', 'Madagascar', 'Malawi', 'Maldives', 'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Poland', 'Portugal', 'Qatar', 'R√©union', 'Romania', 'Rwanda', 'St. Barth', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin', 'Saint Pierre Miquelon', 'St. Vincent Grenadines', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Palestine', 'Sudan', 'Suriname', 'Eswatini', 'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turks and Caicos', 'Uganda', 'Ukraine', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Yemen', 'Zambia', 'Zimbabwe', 'Palau']]